# Okta SSO configuration for React frontend

VITE_OKTA_DOMAIN=https://integrator-9748686.okta.com
VITE_OKTA_ISSUER=https://integrator-9748686.okta.com/oauth2/default
VITE_OKTA_CLIENT_ID=0oa110x22ykmv9k1O698

# Redirect after login
VITE_OKTA_REDIRECT_URI=http://localhost:3000/login/callback

# Redirect after logout
VITE_OKTA_LOGOUT_REDIRECT_URI=http://localhost:3000
